<div class="modal-body">
	<form class="form" id="kt_add_cutomer_form" method="post" action="#">
		<div class="row">
			<div class="col-xl-12">
				<div class="form-group">
					<label class="font-weight-bold font-size-lg" >Customer Name</label> 
					<input type="text" class="form-control form-control-lg" name="customerName" id="customerName" value="" maxlength="50" autocapitalize="words"/> 
					<span class="form-text text-muted">please enter customer name.</span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xl-6">
				<div class="form-group">
					<label class="font-weight-bold font-size-lg" >Mobile Number</label> 
					<input type="number" class="form-control form-control-lg" name="mobileNo" id="mobileNo" value=""  />
					<span class="form-text text-muted">please enter customer primary mobile no.</span>
				</div>
			</div>
			<div class="col-xl-6">
				<div class="form-group">
					<label class="font-weight-bold font-size-lg" >Alternate Mobile Number</label> 
					<input type="number" class="form-control form-control-lg" name="alternateNo" id="alternateNo" value=""/>
					<span class="form-text text-muted">please enter customer secondary mobile no.</span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xl-12">
				<div class="form-group">
					<label class="font-weight-bold font-size-lg" >Address</label>
					<textarea class="form-control form-control-lg" name="address" id="address" rows="4" cols="100" draggable="false" maxlength="499"  ></textarea>
					<span class="form-text text-muted">please enter customer address.(max 500 characters)</span>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Close</button>
			<button type="button" id="add_customer_submit_button" class="btn btn-light-success font-weight-bold">Create Rental Customer </button>
		</div>
	</form>
	<!--end::Row-->
</div>