<div class="d-flex flex-column-fluid">
	<div class="table-responsive">
		<table class="table" id="returnItemsTable">
			<thead>
				<tr>
					<th class="text-center border font-weight-boldest font-size-lg text-uppercase">Item Name</th>
					<th class="text-center border font-weight-boldest font-size-lg text-uppercase">Hired Quantity</th>
					<th class="text-center border font-weight-boldest font-size-lg text-uppercase">Returned Items</th>
					<th class="text-center border font-weight-boldest font-size-lg text-uppercase">Balance Items</th>
					<th class="text-center border font-weight-boldest font-size-lg text-uppercase">Returning Items</th>
				</tr>
			</thead>
			<tbody>
				<tr 
				  th:each="item : ${items}"
				  >
				  	<td class="text-center border font-size-lg" th:text="${item.inventory.material.materialName}"/></td>
				  	<td class="text-center border font-size-lg font-weight-boldest text-info" th:text="${item.quantity}"/></td>
				  	<td class="text-center border font-size-lg font-weight-boldest text-success" th:text="${item.getTotalReturnQuantity()}"/></td>
				  	<td class="text-center border font-size-lg font-weight-boldest text-danger" th:text="${item.balanceQuantity}"></td>
					<td class="text-right  border" >
					<input type="hidden" th:id="${item.itemId + 'Balance'}" th:value="${item.balanceQuantity}"/>
					<input type="hidden" id="rentalId" th:value="${rentalId}"/>
					<input type="number" class="form-control form-control-sm font-size-lg text-right" th:name="${item.itemId}" th:id="${item.itemId}" value="0" th:onchange="'restrict(this)'"/></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
