<!DOCTYPE html>
<html lang="en">
<!-- Head BEGIN -->
<head>
<meta charset="utf-8">
<title>Gayathri Constructions</title>

<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<meta content="Metronic Shop UI description" name="description">
<meta content="Metronic Shop UI keywords" name="keywords">
<meta content="keenthemes" name="author">

<meta property="og:site_name" content="-CUSTOMER VALUE-">
<meta property="og:title" content="-CUSTOMER VALUE-">
<meta property="og:description" content="-CUSTOMER VALUE-">
<meta property="og:type" content="website">
<meta property="og:image" content="-CUSTOMER VALUE-">
<!-- link to image for socio -->
<meta property="og:url" content="-CUSTOMER VALUE-">

<link rel="shortcut icon" href="favicon.ico">

<!-- Fonts START -->
<link
	href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|PT+Sans+Narrow|Source+Sans+Pro:200,300,400,600,700,900&amp;subset=all"
	rel="stylesheet" type="text/css">
<!-- Fonts END -->

<!-- Global styles START -->
<link href="assets/global/plugins/font-awesome/css/font-awesome.min.css"
	rel="stylesheet">
<link href="assets/global/plugins/bootstrap/css/bootstrap.min.css"
	rel="stylesheet">
<!-- Global styles END -->

<!-- Page level plugin styles START -->
<link href="assets/global/plugins/fancybox/source/jquery.fancybox.css"
	rel="stylesheet">
<link
	href="assets/global/plugins/carousel-owl-carousel/owl-carousel/owl.carousel.css"
	rel="stylesheet">
<link
	href="assets/global/plugins/slider-revolution-slider/rs-plugin/css/settings.css"
	rel="stylesheet">
<!-- Page level plugin styles END -->

<!-- Theme styles START -->
<link href="assets/global/css/components.css" rel="stylesheet">
<link href="assets/frontend/layout/css/style.css" rel="stylesheet">
<link href="assets/frontend/pages/css/style-revolution-slider.css"
	rel="stylesheet">
<!-- metronic revo slider styles -->
<link href="assets/frontend/layout/css/style-responsive.css"
	rel="stylesheet">
<link th:href="@{/assets/frontend/layout/css/themes/green.css}" rel="stylesheet"
	id="style-color">
<link href="assets/frontend/layout/css/custom.css" rel="stylesheet">
<!-- Theme styles END -->
</head>
<!-- Head END -->

<!-- Body BEGIN -->
<body class="corporate">


	<!-- BEGIN TOP BAR -->
	<div class="pre-header">
		<div class="container">
			<div class="row">
				<!-- BEGIN TOP BAR LEFT PART -->
				<div class="col-md-6 col-sm-6 additional-shop-info">
					<ul class="list-unstyled list-inline">
						<li><i class="fa fa-phone"></i><span>044 1234 0000</span></li>
						<li><i class="fa fa-envelope-o"></i><span>admin@gayathriconstructions.com
						</span></li>
					</ul>
				</div>
				<!-- END TOP BAR LEFT PART -->
				<!-- BEGIN TOP BAR MENU -->
				<div class="col-md-6 col-sm-6 additional-nav">
					<ul class="list-unstyled list-inline pull-right">
						<li><a class="btn btn-sm btn-primary" th:href="@{/login}">Log In</a></li>
						<li><a class="btn green pull-right" href="page-reg-page.html">Rental</a></li>
					</ul>
				</div>
				<!-- END TOP BAR MENU -->
			</div>
		</div>
	</div>
	<!-- END TOP BAR -->
	<!-- BEGIN HEADER -->
	<div class="header">
		<div class="container" style="width:88%">
			<a class="site-logo" href="index.html" style="padding:0px;height:75px;"><img
				src="assets/frontend/layout/img/gaya3_logo.png"
				alt="Gayathri Constructions" style="padding:0px;height:75px;"></a> <a href="javascript:void(0);"
				class="mobi-toggler"><i class="fa fa-bars"></i></a>

			<!-- BEGIN NAVIGATION -->
				
			<!-- END NAVIGATION -->
		</div>
	</div>
	<!-- Header END -->

	<!-- BEGIN SLIDER -->
	<div class="page-slider margin-bottom-40">
		<div class="fullwidthbanner-container revolution-slider">
			<div class="fullwidthabnner">
				<ul id="revolutionul">
					<!-- BEGIN FIRST SLIDE -->
					<li data-transition="fade" data-slotamount="8"
						data-masterspeed="400" data-delay="5400"
						data-thumb="assets/frontend/pages/img/revolutionslider/thumbs/thumb2.jpg">
						<img src="assets/frontend/pages/img/revolutionslider/1.jpg"
						alt="">
					</li>
					<!-- END FIRST SLIDE  -->
					<!-- BEGIN SECOND SLIDE -->
					<li data-transition="fade" data-slotamount="8"
						data-masterspeed="400" data-delay="5400"
						data-thumb="assets/frontend/pages/img/revolutionslider/thumbs/thumb2.jpg">
						<!-- THE MAIN IMAGE IN THE FIRST SLIDE --> <img
						src="assets/frontend/pages/img/revolutionslider/2.jpg" alt="">
					</li>
					<!-- END SECOND  SLIDE -->

					<!-- BEGIN THIRD SLIDE -->
					<li data-transition="fade" data-slotamount="7"
						data-masterspeed="300" data-delay="5400"
						data-thumb="assets/frontend/pages/img/revolutionslider/thumbs/thumb2.jpg">
						<img src="assets/frontend/pages/img/revolutionslider/3.jpg"
						alt="">
					</li>
					<!-- END THIRD SLIDE -->

					<!-- BEGIN FORTH SLIDE -->
					<li data-transition="fade" data-slotamount="8"
						data-masterspeed="400" data-delay="5400"
						data-thumb="assets/frontend/pages/img/revolutionslider/thumbs/thumb2.jpg">
						<!-- THE MAIN IMAGE IN THE FIRST SLIDE --> <img
						src="assets/frontend/pages/img/revolutionslider/4.jpg" alt="">
					</li>
					<!-- END FORTH SLIDE -->
					
					<!-- BEGIN FIFTH SLIDE -->
					<li data-transition="fade" data-slotamount="8"
						data-masterspeed="400" data-delay="5400"
						data-thumb="assets/frontend/pages/img/revolutionslider/thumbs/thumb2.jpg">
						<!-- THE MAIN IMAGE IN THE FIRST SLIDE --> <img
						src="assets/frontend/pages/img/revolutionslider/5.jpg" alt="">
					</li>
					<!-- END FORTH SLIDE -->

				</ul>
				<div class="tp-bannertimer tp-bottom"></div>
			</div>
		</div>
	</div>
	<!-- END SLIDER -->

	<div class="main">
		<div class="container">
			<!-- BEGIN SERVICE BOX -->
			<div class="row service-box margin-bottom-40">
				<div class="col-md-12 col-sm-12 testimonials-v1">
					<div class="service-box-heading">
						<em><i class="fa fa-location-arrow blue"></i></em> <span>We are Renting...</span>
					</div>
					<blockquote>
						<p align="justify">We are here to provide rental of all your construction needs. We equipped with latest tools and machines for constructing your projects.</p>
					</blockquote>
				</div>
			</div>
			<!-- END SERVICE BOX -->
		</div>
	</div>
	<!-- BEGIN FOOTER -->
	<div class="footer">
		<div class="container">
			<div class="row">
				<!-- BEGIN COPYRIGHT -->
				<div class="col-md-8 col-sm-8 padding-top-10">
					All Content Protected by Gayathri Constructions | All Rights Reserved, </span><a
						href="#" target="_blank">HBS Technology Solutions</a>&nbsp;&copy;&nbsp;<script>
						document.write(new Date().getFullYear());
					</script>
				</div>
				<!-- END COPYRIGHT -->
				<!-- BEGIN PAYMENTS -->
				<div class="col-md-4 col-sm-4s">
					<ul class="social-footer list-unstyled list-inline pull-right">
						<li><a href="http://www.facebook.com/"><i
								class="fa fa-facebook"></i></a></li>
						<li><a href="http://www.linkedin.com/"><i
								class="fa fa-linkedin"></i></a></li>
						<li><a href="http://twitter.com/"><i
								class="fa fa-twitter"></i></a></li>
					</ul>
				</div>
				<!-- END PAYMENTS -->
			</div>
		</div>
	</div>
	<!-- END FOOTER -->

	<!-- Load javascripts at bottom, this will reduce page load time -->
	<!-- BEGIN CORE PLUGINS (REQUIRED FOR ALL PAGES) -->
	<!--[if lt IE 9]>
    <script src="assets/global/plugins/respond.min.js"></script>
    <![endif]-->
	<script src="assets/global/plugins/jquery-1.11.0.min.js"
		type="text/javascript"></script>
	<script src="assets/global/plugins/jquery-migrate-1.2.1.min.js"
		type="text/javascript"></script>
	<script src="assets/global/plugins/bootstrap/js/bootstrap.min.js"
		type="text/javascript"></script>
	<script src="assets/frontend/layout/scripts/back-to-top.js"
		type="text/javascript"></script>
	<!-- END CORE PLUGINS -->

	<!-- BEGIN PAGE LEVEL JAVASCRIPTS (REQUIRED ONLY FOR CURRENT PAGE) -->
	<script
		src="assets/global/plugins/fancybox/source/jquery.fancybox.pack.js"
		type="text/javascript"></script>
	<!-- pop up -->
	<script
		src="assets/global/plugins/carousel-owl-carousel/owl-carousel/owl.carousel.min.js"
		type="text/javascript"></script>
	<!-- slider for products -->

	<!-- BEGIN RevolutionSlider -->

	<script
		src="assets/global/plugins/slider-revolution-slider/rs-plugin/js/jquery.themepunch.plugins.min.js"
		type="text/javascript"></script>
	<script
		src="assets/global/plugins/slider-revolution-slider/rs-plugin/js/jquery.themepunch.revolution.min.js"
		type="text/javascript"></script>
	<script src="assets/frontend/pages/scripts/revo-slider-init.js"
		type="text/javascript"></script>
	<!-- END RevolutionSlider -->

	<script src="assets/frontend/layout/scripts/layout.js"
		type="text/javascript"></script>
	<script type="text/javascript">
		jQuery(document).ready(function() {
			Layout.init();
			Layout.initOWL();
			RevosliderInit.initRevoSlider();
			Layout.initTwitter();
			//Layout.initFixHeaderWithPreHeader(); /* Switch On Header Fixing (only if you have pre-header) */
			//Layout.initNavScrolling(); 
		});
	</script>
	<!-- END PAGE LEVEL JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>